body{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bdd888b-fe5c-4358-8c46-5362c7ce3154/dehn7hz-56d75669-c27f-4d2b-8e30-91dc2c542e4c.jpg/v1/fill/w_1192,h_670,q_70,strp/cool_gaming_background_4k_by_skullbreaker000_dehn7hz-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNGJkZDg4OGItZmU1Yy00MzU4LThjNDYtNTM2MmM3Y2UzMTU0XC9kZWhuN2h6LTU2ZDc1NjY5LWMyN2YtNGQyYi04ZTMwLTkxZGMyYzU0MmU0Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.oV9fk5Nb0ps6-6_Omk6AfhkNvdqDyQRvV_hLyys1S6Q");
    background-size: cover;
    
}
.heading{
    color: beige;
    margin-top: 300px;
    margin-left: 600px;
    font-size: xx-large;
}
#start{
    margin-left: 670px;
    width: 100px;
    height: 30px;
}
#te{
    margin-left: 400px;
}
.heading1{
    margin-left: 600px;
    color: beige;
}
#startBox{
    margin-left: 600px;
    width: 200px;
}
#start{
    margin-top: 0px;
    margin-left: 680px;
}
#start:hover{
    cursor: pointer;
}
#liv{
    margin-top: 70px;
    margin-left: 670px;
    color: red;
}
#liv:hover{
    cursor: pointer;
    background: linear-gradient(#948E99,#2E1437);
}
#won{
    margin-top: 50px;
    margin-left: 670px;
}
#Play{
    margin-top: 10px;
    margin-left: 680px;
    color: rgb(240, 26, 26);
}
